@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Arial', sans-serif;
    background-color: #eff1f3; /* Reddit background color */
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0079d3; /* Reddit link color */
}

.btn-primary {
    color: #fff;
    background-color: #0079d3; /* Reddit primary button color */
    border-color: #0079d3;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #fff, 0 0 0 0.25rem #0079d3; /* Reddit button focus effect */
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #1c8a42; /* Reddit validation outline color */
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: #ffe635; /* Reddit error background color */
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: #fff; /* Reddit error boundary background color */
    padding: 1rem;
    color: #1c1c1c; /* Reddit error boundary text color */
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
    color: #ff4500; /* Reddit error text color */
}
